@import 'null.scss'; 
body {
  background-color: #fff;
  color: #000;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  h3 {
    color: #333333;
    font-weight: 700;
    font-size: 40px;
  }
  h4 {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
  }
* {
   transition: all 0.2s linear;
}
}
.btn-purple {
  background: #4762FF;
  border-radius: 5px;
  width: 179px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.15s linear;
  &:hover {
   background: #2646ff;
  }
}
.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 15px;
}
.header-container {
  padding-top: 17px;
  .toper-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    .toper-header__left {
      display: flex;
      .header-adress {
        display: flex;
        align-items: flex-start;
        .adress-content {
          margin-left: 8px;
          .adress-text {
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
          }
          .adress-city {
            margin-top: 4px;
            font-weight: 500;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
          }
        }
      }
      .header-graphic {
        margin-left: 40px;
        padding-left: 19px;
        border-left: 1px solid rgba(51, 51, 51, 0.1);
        // transform: rotate(-90deg);
        display: flex;
        align-items: flex-start;
        .graphic-content {
          margin-left: 8px;
          .graphic-text {
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
          }
          .graphic-subtitle {
            margin-top: 4px;
            font-weight: 500;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
          }
        }
      }
    }
    .header-phone {
      display: flex;
      align-items: flex-start;
      .phone-content {
         display: flex;
         flex-direction: column;   
         margin-left: 8px;
         .phone-text {
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
         }
         .phone-subtitle {
            margin-top: 4px;
            font-weight: 500;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
         }
      }
    }
  }
  .lower-header {
     display: flex;
     justify-content: space-between;
     margin-top: 18px;
     align-items: center;
     .header-logo {
      width: 207px;
      position: relative;
      z-index: 20;
     }
     .navbar {
       .menu-burger {
         span {
           display: block;
           width: 30px;
           height: 2px;
           background: #333;
           margin-bottom: 7px;
          }
          background: none;
          display: none;
          position: relative;
          z-index: 20;
       }
       .active {
        .menu-burger__span {
          background: #fff;
        }
      }
      .navbar-list {
         display: flex;
         .navbar-link {
          font-weight: 500;
          font-size: 16px;
          color: #333333;
          margin-left: 38px;
          &:hover {
              color: #8a8a8a;
          }
        }
      }
    }
  }
}
.btn-header {
  position: relative;
  z-index: 20;
}
.active {
  .menu-burger__span {
    background: #fff;
  }
}


// hero секция

.hero {
  background: url('../../img/hero-bg.png') right center no-repeat;
  background-size: 55%;
}
.hero-container {
  padding-top: 65px;
  padding-bottom: 190px;
}
.hero-content {
  max-width: 540px;
}
.hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 127%;
  color: #333333;
  margin-bottom: 16px;
}
.hero-button {
  width: 196px;
  height: 52px;
  margin-top: 32px;
}
.hero-img {
  display: none;
}
.services-content {
  max-width: 648px;
  text-align: center;
  margin: auto;
  margin-top: 29px;
}
.services-title {
  margin-bottom: 18px;
}
.services-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 48px;
  flex-wrap: wrap;
}
.services-card__template {
  background: #F4F6FA;
  border-radius: 9px;
  width: 505px;
  height: 287px;
  padding-top: 25px;
  padding-left: 28px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .services-card__content {
    max-width: 366px;
  }
  .services-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
  }
  .services-card__subtitle {
    max-width: 253px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.8);
    margin-top: 15px;
  }
  .services-card__img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
}
.who-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 170px;
}
.who-content {
  max-width: 576px;
}
.who-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}
.who-subtitle {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}
.who-images__block {
  width: 464px;
  height: 425px;
  position: relative;
}
.who-image {
  position: absolute;
}
.scania {
  top: 0px;
  left: 0px;
}
.volvo {
  top: 0px;
  right: 0px;
}
.man {
  top:40%;
  left:40%;
  transform: translate(-40%,-40%);
}
.daf {
  bottom: 50px;
  left: 0px;
}
.renault {
  bottom: 0px;
  right: 0px;
}

.where {
  padding-bottom: 188px;
  background: url('../../img/map.jpg') bottom right no-repeat;
  background-color: #F4F4F4;
  background-size: 50%;
}
.where-adaptive {
  width: 100%;
  height: 500px;
  display: none;
}
.where-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}
.where-subtitle {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}
.where-content {
  max-width: 540px;
  margin-top: 96px;
}

.photo-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #333333;
  margin-top: 56px;
}
.image-slider {
  margin-top: 50px;
  // padding: 30px 0 70px 0;
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  max-width: 100%;
  transition: .2s;
  .slider_pagination {
    position: absolute;
    bottom: 0px;
  }
}
.image-slider__image {
  text-align: center;
  img {
    max-width: 100%;
    min-height: 558px;
    border-radius: 12px;
  }
}

.questions {
  background: url('../../img/questions-bg.jpg') top center no-repeat;
  background-size: cover;
}
.questions-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  padding-bottom: 69px;
}
.questions-form {
  width: 611px;
  height: 548px;
  background: #FFFFFF;
  border-radius: 15px;
  padding-top: 39px;
  padding-left: 71px;
}
.form-title {
  max-width: 284px;
  font-size: 56px;
  line-height: 68px;
}
.form-subtitle {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}
.form-input {
  margin-top: 30px;
  width: 469px;
  height: 56px;
  padding-left: 22px;
  background: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
}
.btn-form {
  width: 469px;
  height: 66px;
  margin-top: 37px;
}
.footer {
  background-color: #1A1A1A;
}
.footer-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 15px;

}
.footer-link {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  &:hover {
    color: rgb(182, 182, 182);
  }
}
.viber {
  margin-top: 25px;
  margin-bottom: 15px;
}

.facebook {
  margin-bottom: 16px;
}
.footer-copyright {
  margin-top: 67px;
  font-size: 12px;
  color: #D9DBE1;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #474747;
  padding-top: 18px;
}




// адаптив
@media screen and (max-width: 1144px) {
  .container {
    max-width: 1050px;
  }
  .header-container .lower-header .navbar .navbar-list .navbar-link {
    margin-left: 25px;
  }
  .who-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .who-images__block {
    margin-top: 50px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 850px;
  }
  .header-container .lower-header .navbar .navbar-list {
    transform: translateY(-150%);
    transition: all 0.8s;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #8193ff;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 50px;
    text-align: center;
  }
  .header-container .lower-header .navbar .navbar-list__active{
    transform: translateY(0);
  }
  
  .header-container .lower-header .navbar .navbar-list .navbar-link {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
    &:hover {
      color: #6f7ed6;
    }
  }
  .header-container .lower-header .navbar .menu-burger {
    display: block;
  }
  .image-slider__image img{
    min-height: 450px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 670px;
  }
  .header-container .toper-header .toper-header__left .header-graphic {
    margin-left: 20px;
  }
  .header-container .toper-header .toper-header__left .header-adress .adress-content .adress-text {
    font-size: 12px;
  }
  .header-container .toper-header .toper-header__left .header-graphic .graphic-content .graphic-text {
    font-size: 12px;
  }
  .header-container .toper-header .header-phone .phone-content .phone-text {
    font-size: 12px;
  }
  .header-container .toper-header .header-phone .phone-content .phone-subtitle {
    font-size: 10px;
  }
  .header-container .toper-header .toper-header__left .header-adress .adress-content .adress-city {
    font-size: 10px;
  }
  .header-container .toper-header .toper-header__left .header-graphic .graphic-content .graphic-subtitle {
    font-size: 10px;
  }
  .hero {
    background: none;
    overflow: hidden;
  }
  .hero-img {
    display: block;
  }
  .services-container {
    margin-top: -250px;
  }
  .where {
    background-image: none;
  }
  .where-adaptive {
    margin-top: 50px;
    display: block;
    background: url('../../img/map.jpg');
  }
  .image-slider__image img{
    min-height: 300px;
  }
  .questions-form {
    width: 400px;
    padding-left: 50px;
  }
  .questions-container {
    justify-content: center;
  }
  .form-title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .form-subtitle {
    font-size: 12px;
  }
  .form-input {
    width: 300px;
  }
  .btn-form {
    width: 300px;
  }
  .footer-list__title {
    font-size: 15px;
  }
  .footer-link {
    font-size: 12px;
    img {
      width: 15px;
    }
  }
  .footer-logo {
    width: 130px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}
@media screen and (max-width: 479.98px) {
  .container {
    max-width: 350px;
  }
  .header-container .lower-header .header-logo {
    width: 150px;
    z-index: -20;
  }
  .btn-header {
    width: 100px;
    font-size: 10px;
    height: 30px;
    z-index: -20;
  }
  .header-container .lower-header .navbar .menu-burger span {
    width: 25px;
    margin-bottom: 5px;
  }
  .active {
     position: absolute;
     top: 0px;
     left: -10px;
  }
  .hero-container {
    margin: auto;
    text-align: center;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-subtitle {
    font-size: 13px;
  }
  .hero-button {
    width: 150px;
  }
  .service-card__img__first {
    width: 120px;
  }
  .service-card__img__second {
    width: 250px;
  }
  .services-card__img__fourth {
    width: 165px;
  }
  .who-image {
    width: 120px;
  }
  .volvo {
    width: 90px;
  }
  .man {
    left: 35%;
  }
  .image-slider__image img{
    min-height: 250px;
  }
  .questions-form {
    width: 350px;
    padding-left: 15px;

  }
  .form-input {
    width: 265px;
  }
  .btn-form {
    width: 265px;
  }
  .footer-container {
    justify-content: space-between;
  }
  .footer-list__title {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .viber {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .facebook {
    margin-bottom: 5px;
  }
  .footer-link {
    font-size: 6px;
    img {
      width: 10px;
    }
    line-height: 0px;
  }
  .footer-logo {
    width: 80px;
  }
  .footer-copyright {
    margin-top: 0px;
    p {
      font-size: 6px;
    }
  }
}
  
